@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

main {
  min-height: calc(100vh - 4rem);
}

.mainNav {
  width: 100%;
  .navLogo {
    width: 100%;
    height: auto;

    img {
      width: 12.5rem;
      height: 6.5rem;
    }
  }
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mainQuizeFrom{
  width: 100%;
  height:100%;
  margin-top: 2rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.quizeFormData {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 1rem;

  .quizeBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #1d4ed8;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    &:hover {
      background-color: #2563eb;
    }
  }

  .quizeFormInput {
    width: 60%;
    height: 60%;
    display: flex;
    margin: 0.2rem;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;
    padding: 1rem;

    label {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 0.4rem;
    }

    input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      font-size: 1.5rem;
      padding: 1.5rem;
      border-radius: 0.5rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }
}

input[type="radio"]{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}


.quizeContain{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  .quizeQuisten {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
    list-style: decimal;
  }

  .answerOpction {
    margin-left: 2rem;
    margin-top: 1rem;
    list-style: lower-alpha;
  }

  .answerOpction li {
    list-style: lower-alpha;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-left: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

  
  }

  .quizeBtnSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #1d4ed8;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-top: 1rem;

    &:hover {
      background-color: #2563eb;
    }
  }
}



